data/*
__pycache__/*
model/__pycache__/*
.vscode/*
runs/*
tmp/*
!data/prepare_data.sh
.idea
tmp
_.py
nohup.out
launch.bash
train_models.bash
train_models.sh
test.png
test2.png
run_mlm.py
run_mlm.sh
class_test.py
